* {
    margin: 0;
    padding: 0;
}


.img11 {
    margin: 30px 50px;
    text-align: center;
    box-shadow: 3px 3px 17px 0px #a19595;
    background-color: blue;
    display: inline-block;
}

.img11 img {
    width: 500px;
    height: 500px;
    display: block;
}


.text-container {
    padding-top: 10px;
}